<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Login_Servlet</servlet-name>
        <servlet-class>Controller.Login_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout_Servlet</servlet-name>
        <servlet-class>Controller.Logout_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Manager_TheLoai_Servlet</servlet-name>
        <servlet-class>Controller.Manager_TheLoai_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TheLoai_Servlet</servlet-name>
        <servlet-class>Controller.TheLoai_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaiLieu_Servlet</servlet-name>
        <servlet-class>Controller.TaiLieu_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Manager_TaiLieu_Servlet</servlet-name>
        <servlet-class>Controller.Manager_TaiLieu_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NhanVien_Servlet</servlet-name>
        <servlet-class>Controller.NhanVien_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Manager_NhanVien_Servlet</servlet-name>
        <servlet-class>Controller.Manager_NhanVien_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DocGia_Servlet</servlet-name>
        <servlet-class>Controller.DocGia_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Manager_DocGia_Servlet</servlet-name>
        <servlet-class>Controller.Manager_DocGia_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Check_DocGia_Servlet</servlet-name>
        <servlet-class>Controller.Check_DocGia_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Manager_MuonSach_Servlet</servlet-name>
        <servlet-class>Controller.Manager_MuonSach_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaoPhieuMuon_Servlet</servlet-name>
        <servlet-class>Controller.TaoPhieuMuon_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Check_DocGia_Servlet_Tra</servlet-name>
        <servlet-class>Controller.Check_DocGia_Servlet_Tra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Manager_TraSach_Servlet</servlet-name>
        <servlet-class>Controller.Manager_TraSach_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search_TheLoai_Servlet</servlet-name>
        <servlet-class>Controller.Search_TheLoai_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search_TaiLieu_Servlet</servlet-name>
        <servlet-class>Controller.Search_TaiLieu_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search_NhanVien_Servlet</servlet-name>
        <servlet-class>Controller.Search_NhanVien_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search_DocGia_Servlet</servlet-name>
        <servlet-class>Controller.Search_DocGia_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search_PhieuMuon_Servlet</servlet-name>
        <servlet-class>Controller.Search_PhieuMuon_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Export_Pdf</servlet-name>
        <servlet-class>Controller.Export_Pdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Export_Pdf_QuaHan</servlet-name>
        <servlet-class>Controller.Export_Pdf_QuaHan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>a</servlet-name>
        <servlet-class>Controller.a</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cancel_Edit_TaiLieuMuon_Servlet</servlet-name>
        <servlet-class>Controller.Cancel_Edit_TaiLieuMuon_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MatSach_Servlet</servlet-name>
        <servlet-class>Controller.MatSach_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Export_TaoPhieuMuon_Servlet</servlet-name>
        <servlet-class>Controller.Export_TaoPhieuMuon_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThongTin_DocGia_Servlet</servlet-name>
        <servlet-class>Controller.ThongTin_DocGia_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThongTin_Admin_Servlet</servlet-name>
        <servlet-class>Controller.ThongTin_Admin_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThongTin_ThuThu_Servlet</servlet-name>
        <servlet-class>Controller.ThongTin_ThuThu_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Export_DGTLMat</servlet-name>
        <servlet-class>Controller.Export_DGTLMat</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login_Servlet</servlet-name>
        <url-pattern>/Login_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout_Servlet</servlet-name>
        <url-pattern>/Logout_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manager_TheLoai_Servlet</servlet-name>
        <url-pattern>/Manager_TheLoai_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TheLoai_Servlet</servlet-name>
        <url-pattern>/TheLoai_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaiLieu_Servlet</servlet-name>
        <url-pattern>/TaiLieu_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manager_TaiLieu_Servlet</servlet-name>
        <url-pattern>/Manager_TaiLieu_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NhanVien_Servlet</servlet-name>
        <url-pattern>/NhanVien_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manager_NhanVien_Servlet</servlet-name>
        <url-pattern>/Manager_NhanVien_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocGia_Servlet</servlet-name>
        <url-pattern>/DocGia_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manager_DocGia_Servlet</servlet-name>
        <url-pattern>/Manager_DocGia_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Check_DocGia_Servlet</servlet-name>
        <url-pattern>/Check_DocGia_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manager_MuonSach_Servlet</servlet-name>
        <url-pattern>/Manager_MuonSach_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaoPhieuMuon_Servlet</servlet-name>
        <url-pattern>/TaoPhieuMuon_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Check_DocGia_Servlet_Tra</servlet-name>
        <url-pattern>/Check_DocGia_Servlet_Tra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manager_TraSach_Servlet</servlet-name>
        <url-pattern>/Manager_TraSach_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search_TheLoai_Servlet</servlet-name>
        <url-pattern>/Search_TheLoai_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search_TaiLieu_Servlet</servlet-name>
        <url-pattern>/Search_TaiLieu_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search_NhanVien_Servlet</servlet-name>
        <url-pattern>/Search_NhanVien_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search_DocGia_Servlet</servlet-name>
        <url-pattern>/Search_DocGia_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search_PhieuMuon_Servlet</servlet-name>
        <url-pattern>/Search_PhieuMuon_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Export_Pdf</servlet-name>
        <url-pattern>/Export_Pdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Export_Pdf_QuaHan</servlet-name>
        <url-pattern>/Export_Pdf_QuaHan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>a</servlet-name>
        <url-pattern>/a</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cancel_Edit_TaiLieuMuon_Servlet</servlet-name>
        <url-pattern>/Cancel_Edit_TaiLieuMuon_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MatSach_Servlet</servlet-name>
        <url-pattern>/MatSach_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Export_TaoPhieuMuon_Servlet</servlet-name>
        <url-pattern>/Export_TaoPhieuMuon_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThongTin_DocGia_Servlet</servlet-name>
        <url-pattern>/ThongTin_DocGia_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThongTin_Admin_Servlet</servlet-name>
        <url-pattern>/ThongTin_Admin_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThongTin_ThuThu_Servlet</servlet-name>
        <url-pattern>/ThongTin_ThuThu_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Export_DGTLMat</servlet-name>
        <url-pattern>/Export_DGTLMat</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>dangnhap.jsp</welcome-file>
    </welcome-file-list>
</web-app>
